<!doctype html>
<html lang="en">
  <head>
    <!--

        Created by DwifteJB (https://github.com/DwifteJB)
        Helped by Thunder7 (thanks for teaching me how to use a database :))
        Created with <3

      -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CCoin - The only good coin">
    <meta name="authors" content="Dwifte">
    <title>CCoin</title>
    <link href="./src/css/bootstrap.min.css" rel="stylesheet">
    <link href="./src/css/ccoin-web.css" rel="stylesheet">
  </head>
  <body>
      <script src="./src/js/bootstrap.bundle.min.js"></script>
      <script src="./src/js/jquery.min.js"></script>
      <!-- warning for end user!! -->
      <script src="./src/js/ccoin.js"></script>
      {{{body}}}


  </body>
</html>
