<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CCoin - The only good coin">
    <meta name="authors" content="Dwifte and Thunder7">
    <title>CCoin</title>
    <link href="./src/css/bootstrap.min.css" rel="stylesheet">
    <link href="./src/css/ccoin-web.css" rel="stylesheet">
  </head>
  <body>
      {{{body}}}

    <!--  REACT SHIT ;) - unused
    <script src="./src/js/babel.min.js"></script>
    <script src="./src/js/react.production.min.js" crossorigin></script>
    <script src="./src/js/react-dom.production.min.js" crossorigin></script> 
    <script src="./src/js/example_react.js" type="text/jsx"></script>
    -->
    <script src="./src/js/bootstrap.bundle.min.js"></script>
    <script src="./src/js/jquery.min.js"></script>

  </body>
</html>